# Python for Data Science (IBM)

## Module 1

### Your First Program

In [98]:
# Print 'Hello Python 101'
print("Hello Python 101")

Hello Python 101

In [99]:
print("Hello\nWorld!")
# print('Hello World!')

Hello
World!

### Types

In [100]:
# int
print(type(11))

<class 'int'>

In [101]:
# float
print(type(21.213))

<class 'float'>

In [102]:
# str
print(type("Hellos Python 101"))

<class 'str'>

In [103]:
# Enter the code to convert the number 1 to a Boolean.
bool(1)

True

### Expresions and Variables

In [104]:
# Operations: 
# Addition
print(2 + 4)

6

In [105]:
# Substraction
print(6 - 7)

-1

In [106]:
# Multiplications
print(3 * 6)

18

In [107]:
# Division
print(7 / 3)

2.3333333333333335

In [108]:
# Integer division
print(7 // 3)

2

In [109]:
# Module
print(7 % 3)

1

In [110]:
# Variables
my_var = 10
print(my_var)

10

In [111]:
x = 10
print(x)
y = x // 3
print(y)
x = x % 3
print(x)

10
3
1

### String Operations

In [112]:
# Definition
my_string = "Hello Python 101"
print(my_string)
my_string = 'Hello Python 101'
print(my_string)

Hello Python 101
Hello Python 101

In [113]:
# Special characters (Use \ as scape sequences)
my_string = "!#$%&/()=?ยก\"\'"
print(my_string)

!#$%&/()=?ยก"'

In [114]:
# Use of index
my_string = "MyString"
# Positive
print(my_string[0])
print(my_string[7])
# Negative
print(my_string[-8])
print(my_string[-1])

M
g
M
g

In [115]:
# Concatenate
my_string_1 = "My "
my_string_2 = "String"
print(my_string_1 + my_string_2)

My String

In [116]:
# Scape sequences
# Jump line
my_string = "Michael\nJackson"
print(my_string)
# Tab
my_string = "Michael Jackson"
print(my_string)
my_string = "Michael\tJackson"
print(my_string)
my_string = "Michael\t\tJackson"
print(my_string)

Michael
Jackson
Michael Jackson
Michael	Jackson
Michael		Jackson

In [117]:
# Methods
# Replace
A = "Michael Jackson is the best"
B = A.replace('Michael','Janet')
print(A)
print(B)

Michael Jackson is the best
Janet Jackson is the best

In [118]:
# Find
A = "Michael Jackson is the best"
print(A.find('el'))

5

In [119]:
Numbers = "0123456"
print(Numbers[::2])

0246

## Module 2

### Lists and Tuples

In [120]:
# Tuples - UnMutable
# Ordered sequence
Ratings = (10,9,6,5,19,8,9,6,2)
print(type(Ratings))

<class 'tuple'>

In [121]:
# length
print(len(Ratings))

9

In [122]:
# Nesting
my_tuple = (1,(3,5), "another", 4)
print(my_tuple)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[1][0])
print(my_tuple[1][1])

(1, (3, 5), 'another', 4)
1
(3, 5)
3
5

In [123]:
# Lists - Mutable
my_list = [1,(3,5), "another", 4]
print(type(my_list))
print(my_list)
print(my_list[0])
print(my_list[1])
print(my_list[1][0])
print(my_list[1][1])

<class 'list'>
[1, (3, 5), 'another', 4]
1
(3, 5)
3
5

In [124]:
# Methods
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [125]:
# Extend
my_list.extend([6,7])
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [126]:
# Append
my_list.append(8)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [127]:
# Change an element
my_list[0] = -1
print(my_list)

[-1, 2, 3, 4, 5, 6, 7, 8]

In [128]:
# Delett an element
del(my_list[-1])
print(my_list)

[-1, 2, 3, 4, 5, 6, 7]

In [130]:
# Convert from string to list
my_string = "split this sentence by spaces"
my_list = my_string.split()
print(my_list)
my_string = "split,this,sentence,by,commas"
my_list = my_string.split(',')
print(my_list)

['split', 'this', 'sentence', 'by', 'spaces']
['split', 'this', 'sentence', 'by', 'commas']