# Python for Data Science (IBM)

### Andrés Eduardo Figueroa García - A01378536

## Índice

1. [Module 1 - Python Basics](#Module1)
   1. [Your First Program](#Module1_1)
   2. [Types](#Module1_2)
   3. [Expresions and Variables](#Module1_3)
   4. [String Operations](#Module1_4)
2. [Module 2 - Python Data Structures](#Module2)
   1. [Lists and Tuples](#Module2_1)
   2. [Sets](#Module2_2)
   3. [Dictionaries](#Module2_3)
3. [Module 3 - Python Programming Fundamentals](#Module3)
   1. [Conditions and Branching](#Module3_1)
   2. [Loops](#Module3_2)
   3. [Functions](#Module3_3)
   4. [Objects and Classes](#Module3_4)
4. [Module 4 - Working with Data in Python](#Module4)
   1. [Reading Files with Open](#Module4_1)
   2. [Writing Files with Open](#Module4_2)
   3. [Loading Data with Pandas](#Module4_3)
   4. [Working with and Saving Data with Pandas](#Module4_4)
5. [Module 5 - Working with Numpy Arrays & Simple APIs](#Module5)
   1. [Numpy 1D Arrays](#Module5_1)
   2. [Numpy 2D Arrays](#Module5_2)
   3. [Simple APIs - Part 1](#Module5_3)
   4. [Simple APIs - Part 2](#Module5_4)

<a id='Module1'></a>
## Module 1 - Python Basics

<a id='Module1_1'></a>
### Your First Program

In [1]:
# Print 'Hello Python 101'
print("Hello Python 101")

Hello Python 101

In [2]:
print("Hello\nWorld!")
# print('Hello World!')

Hello
World!

<a id='Module1_2'></a>
### Types

In [3]:
# int
print(type(11))

<class 'int'>

In [4]:
# float
print(type(21.213))

<class 'float'>

In [5]:
# str
print(type("Hellos Python 101"))

<class 'str'>

In [6]:
# Enter the code to convert the number 1 to a Boolean.
bool(1)

True

<a id='Module1_3'></a>
### Expresions and Variables

In [7]:
# Operations: 
# Addition
print(2 + 4)

6

In [8]:
# Substraction
print(6 - 7)

-1

In [9]:
# Multiplications
print(3 * 6)

18

In [10]:
# Division
print(7 / 3)

2.3333333333333335

In [11]:
# Integer division
print(7 // 3)

2

In [12]:
# Module
print(7 % 3)

1

In [13]:
# Variables
my_var = 10
print(my_var)

10

In [14]:
x = 10
print(x)
y = x // 3
print(y)
x = x % 3
print(x)

10
3
1

<a id='Module1_4'></a>
### String Operations

In [15]:
# Definition
my_string = "Hello Python 101"
print(my_string)
my_string = 'Hello Python 101'
print(my_string)

Hello Python 101
Hello Python 101

In [16]:
# Special characters (Use \ as scape sequences)
my_string = "!#$%&/()=?¡\"\'"
print(my_string)

!#$%&/()=?¡"'

In [17]:
# Use of index
my_string = "MyString"
# Positive
print(my_string[0])
print(my_string[7])
# Negative
print(my_string[-8])
print(my_string[-1])

M
g
M
g

In [18]:
# Concatenate
my_string_1 = "My "
my_string_2 = "String"
print(my_string_1 + my_string_2)

My String

In [19]:
# Scape sequences
# Jump line
my_string = "Michael\nJackson"
print(my_string)
# Tab
my_string = "Michael Jackson"
print(my_string)
my_string = "Michael\tJackson"
print(my_string)
my_string = "Michael\t\tJackson"
print(my_string)

Michael
Jackson
Michael Jackson
Michael	Jackson
Michael		Jackson

In [20]:
# Methods
# Replace
A = "Michael Jackson is the best"
B = A.replace('Michael','Janet')
print(A)
print(B)

Michael Jackson is the best
Janet Jackson is the best

In [21]:
# Find
A = "Michael Jackson is the best"
print(A.find('el'))

5

In [22]:
Numbers = "0123456"
print(Numbers[::2])

0246

<a id='Module2'></a>
## Module 2 - Python Data Structures

<a id='Module2_1'></a>
### Lists and Tuples

In [23]:
# Tuples - UnMutable
# Ordered sequence
Ratings = (10,9,6,5,19,8,9,6,2)
print(type(Ratings))

<class 'tuple'>

In [24]:
# length
print(len(Ratings))

9

In [25]:
# Nesting
my_tuple = (1,(3,5), "another", 4)
print(my_tuple)
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[1][0])
print(my_tuple[1][1])

(1, (3, 5), 'another', 4)
1
(3, 5)
3
5

In [26]:
# Lists - Mutable
my_list = [1,(3,5), "another", 4]
print(type(my_list))
print(my_list)
print(my_list[0])
print(my_list[1])
print(my_list[1][0])
print(my_list[1][1])

<class 'list'>
[1, (3, 5), 'another', 4]
1
(3, 5)
3
5

In [27]:
# Methods
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [28]:
# Extend
my_list.extend([6,7])
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
# Append
my_list.append(8)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
# Change an element
my_list[0] = -1
print(my_list)

[-1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# Delett an element
del(my_list[-1])
print(my_list)

[-1, 2, 3, 4, 5, 6, 7]

In [32]:
# Convert from string to list
my_string = "split this sentence by spaces"
my_list = my_string.split()
print(my_list)
my_string = "split,this,sentence,by,commas"
my_list = my_string.split(',')
print(my_list)

['split', 'this', 'sentence', 'by', 'spaces']
['split', 'this', 'sentence', 'by', 'commas']

<a id='Module2_2'></a>
### Sets

In [33]:
# Sets are a type of collection with the following charcteristics:
# Sets do not record element position
# Sets only have unique elements. If repeated, duplicated items will not be present
MusicGenres = {'rock', 'ska', 'jazz', 'soul', 'rock', 'jazz'}
print(MusicGenres)

{'ska', 'jazz', 'rock', 'soul'}

In [34]:
# Convert List to Set
my_list = [1,2,3,4,5,1,2,3]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [35]:
# Set has function: add(), remove() or the 'in' command
my_set.add(6)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [37]:
# Venn Diagram operations
primos = {2,3,5,7,11}
nones = {1,3,5,7,9,11}
set1 = {1,5,9}

# Intersection
primos_y_nones = primos & nones
print(primos_y_nones)

# Union
primos_o_nones = primos.union(nones)
print(primos_o_nones)

# subset
primos_s_nones = primos.issubset(nones)
print(primos_s_nones)
primos_s_set1 = set1.issubset(nones)
print(primos_s_set1)

{11, 3, 5, 7}
{1, 2, 3, 5, 7, 9, 11}
False
True

<a id='Module2_3'></a>
### Dictionaries

In [38]:
# Dictionaries has keys and values
# Keys are likewise index in list, but does not have to be an integer
# They are detonated using '{}'
# Keys have to be immutable and unique
# values can be immutable, mutable and duplicates
# Each key and value pair is separated by a comma

my_dict = {"key1":1, "key2":"2", "key3":[3,3,3], "key4":(4,4,4), ('key5'):5}
print(my_dict)

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

In [39]:
# Example with movies and release years
movie_years = {"2001: A Space Odyssey":    1968, 
               "The Godfather":            1972,
               "Citizen Kane":             1941,
               "Raiders of the Lost Ark:": 1981,
               "La Dolce Vita":            1960,
               "Seven Samurai":            1954}
print(movie_years)
print(movie_years["Citizen Kane"])

{'2001: A Space Odyssey': 1968, 'The Godfather': 1972, 'Citizen Kane': 1941, 'Raiders of the Lost Ark:': 1981, 'La Dolce Vita': 1960, 'Seven Samurai': 1954}
1941

In [40]:
# Add an entry to the dictionary
movie_years["Cleopatra"] = 1965
print(movie_years)

{'2001: A Space Odyssey': 1968, 'The Godfather': 1972, 'Citizen Kane': 1941, 'Raiders of the Lost Ark:': 1981, 'La Dolce Vita': 1960, 'Seven Samurai': 1954, 'Cleopatra': 1965}

In [41]:
# Delete an entrt
del(movie_years["La Dolce Vita"])
print(movie_years)

{'2001: A Space Odyssey': 1968, 'The Godfather': 1972, 'Citizen Kane': 1941, 'Raiders of the Lost Ark:': 1981, 'Seven Samurai': 1954, 'Cleopatra': 1965}

In [42]:
# Verify if an element is in the dictionary
print("Citizen Kane" in movie_years)
print("La Dolce Vita" in movie_years)

True
False

In [43]:
# Get all the keys in the dictionary
print(movie_years.keys())

dict_keys(['2001: A Space Odyssey', 'The Godfather', 'Citizen Kane', 'Raiders of the Lost Ark:', 'Seven Samurai', 'Cleopatra'])

In [44]:
# Get all the values in the dictionary
print(movie_years.values())

dict_values([1968, 1972, 1941, 1981, 1954, 1965])

<a id='Module3'></a>
## Module 3 - Python Programming Fundamentals

<a id='Module3_1'></a>
### Conditions and Branching

In [45]:
# Comparison operations -> Boolean
a = 6
a == 7

False

In [46]:
a== 6

True

In [47]:
a < 7 # less than

True

In [48]:
a > 5 # greater than

True

In [49]:
a <= 6 # less or equal than

True

In [50]:
a >= 6 # greater or equal than

True

In [51]:
a != 6 # different to

False

In [52]:
"AC/DC" ==  "Michael Jackson" # Works in strings

False

In [53]:
# If statement
a = 11

if a == 1:
    print("a is 1")
elif (a > 0) and (a < 10):
    print("a is between 0 and 10")
else:
    print("a is not between 0 and 10")

a is not between 0 and 10

In [54]:
if a == 15:
    print("a is 1")
elif ((a > 0) and (a < 10)) or ((a > 20) and (a < 30)):
    print("a is between 0 and 10 or between 20 and 30")
else:
    print("a is not between 0 and 10 or between 20 and 30")

a is not between 0 and 10 or between 20 and 30

<a id='Module3_2'></a>
### Loops

In [55]:
# For Loops
# Syntax range(limit - 1)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [56]:
# Syntax range(start, limit - 1)
for i in range(10,15):
    print(i)

10
11
12
13
14

In [57]:
# Syntax range(start, limit - 1, incremet)
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [58]:
color_list = ['rojo', 'amarillo', 'verde', 'azul', 'naranja']
for i in range(5):
    print(color_list[i])

rojo
amarillo
verde
azul
naranja

In [59]:
color_list = ['rojo', 'amarillo', 'verde', 'azul', 'naranja']
for color in color_list:
    print(color)

rojo
amarillo
verde
azul
naranja

In [60]:
for i, color in enumerate(color_list):
    print(i)
    print(color)

0
rojo
1
amarillo
2
verde
3
azul
4
naranja

In [61]:
# While Loops
x = 1
while x < 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9

In [62]:
color_list = ['rojo', 'amarillo', 'verde', 'azul', 'naranja']
i = 0

while color_list[i] != 'naranja':
    print("el color no es naranja")
    i += 1
print("el color es naranja")

el color no es naranja
el color no es naranja
el color no es naranja
el color no es naranja
el color es naranja

<a id='Module3_3'></a>
### Functions

In [66]:
# Funciones
def suma(a,b):
    # función que suma dos números
    c = a + b
    return c

my_sum = suma(2,5)
print(my_sum)

7

In [74]:
# Funciones embebidas en Python
number_list = [2,3,4,1,5,7,8,6,9]

# longitud de una lista
number_list_size = len(number_list)
print(number_list_size)

9

In [72]:
# suma de una lista
number_list_sum = sum(number_list)
print(number_list_sum)

45

In [75]:
# Sorted
number_list_sorted = sorted(number_list)
print(number_list_sorted)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
# Sort
number_list.sort()
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# Multiple entries of different types
def printmul(a,b):
    c = a*b
    return c

print(printmul(3,'hello'))

hellohellohello

In [79]:
# Intermidiate actions
def printmul(a,b):
    c = a*b
    print("my result is " + c)
    return c

print(printmul(3,'hello'))

my result is hellohellohello
hellohellohello

In [80]:
# Global scope
def AddDC(y):
    x = y + "/DC"
    print(x)
    return(x)

x = "AC"
z = AddDC(x)

AC/DC

<a id='Module3_4'></a>
### Objects and Classes

In [25]:
#Objects have:
    # A type
    # Internal data representation
    # Methods

# An objet is an instance of a particular type

# Methods are functions that aevery instance of an specific class coulf perform
    # sort() or reverse() are examples of this
    
class circle(object):
    def __init__(self, radius, color):
        self.radius = radius
        self.color = color
        self.area1 = (self.radius ** 2) * 3.1416
        
    def area(self):
        A = (self.radius ** 2) * 3.1416
        return A
    
class rectangle(object):
    def __init__(self, height, width, color):
        self.height = height
        self.width = width
        self.color = color
        
    def area(self):
        A = self.height * self.width
        return A

circle1 = circle(3,'red')
circle2 = circle(5,'green')
rectangle1 = rectangle(3,4,'brown')

# Read each parameter for individual objets
print(circle1.color)
print(circle1.radius)
print(circle2.color)
print(circle2.radius)

# Modify an attribute
circle2.radius = 10
print(circle2.radius)

# Run a methos on the object
print(circle1.area())
print(rectangle1.area())

print(circle1.area1)

red
3
green
5
10
28.2744
12
28.2744

In [21]:
dir(circle1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'area',
 'color',
 'radius']

In [32]:
class car(object):
    def __init__(self,make, model, color):
        self.make = make
        self.model = model
        self.color = color
        
car1 = car("Honda","Accord","blue")
#car2 = (make="Honda",model="Accord",color="blue")
#car3 = (model="Accord",make="Honda",color="blue")

print(car1)
#print(car2)
#print(car3)

<__main__.car object at 0x00000194B13EA340>

In [33]:
A = ['1','2','3']

for a in A:
    print(2*a)

11
22
33

<a id='Module4'></a>
## Module 4 - Working with Data in Python

<a id='Module4_1'></a>
### Reading Files with Open

<a id='Module4_2'></a>
### Writing Files with Open

<a id='Module4_3'></a>
### Loading Data with Pandas

<a id='Module4_4'></a>
### Working with and Saving Data with Pandas

<a id='Module5'></a>
## Module 5 - Working with Numpy Arrays & Simple APIs

<a id='Module5_1'></a>
### Numpy 1D Arrays

<a id='Module5_2'></a>
### Numpy 2D Arrays

<a id='Module5_3'></a>
### Simple APIs - Part 1

<a id='Module5_4'></a>
### Simple APIs - Part 2

<a id='FinalExam'></a>
## Final Exam